@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-blue: #0052FF;
  --farcaster-purple: #8465CB;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tap-button {
  touch-action: manipulation;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
